<style>
    p {
        font-weight: bold;
        font-size: 14px;
    }
</style>

<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>

<div id="contenedor">
    <br>

    <center>
        <p>
            Nombre del alumno: <br>
            Ozuna Diaz Ruanet Alejandro
        </p>

        <br>

        <p>
            Matricula: <br>
            2021030124
        </p>

        <br>

        <p>
            Nombre de la Universidad: <br>
            Universidad Politécnica de Sinaloa
        </p>

        <br>

        <p>
            Carrera y Grupo: <br>
            Ing. En Tecnologías de la Información 8-2
        </p>

        <br>

        <p>
            Nombre de la materia: <br>
            Tecnologías y Aplicaciones en Internet
        </p>

        <br>

        <p>
            Nombre del Profesor: <br>
            Dr. Ramon Patricio Velázquez Cuadras
        </p>

        <br>

        <p>
            Nombre del Trabajo: <br>
            Practica Examen 02
        </p>

        <br>

        <p>
            Fecha de entrega: <br>
            14 de marzo de 2024
        </p>
    </center>
    <%- include('partials/footer.ejs') %>
</div>


